/* 定义所有字体 */
@font-face {
  font-family: 'LXGWWenKaiGB-Regular';
  src: url(chrome-extension://__MSG_@@extension_id__/LXGWWenKaiGB-Regular.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LXGWWenKaiTC-Regular';
  src: url(chrome-extension://__MSG_@@extension_id__/LXGWWenKaiTC-Regular.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'KleeOne-Regular';
  src: url(chrome-extension://__MSG_@@extension_id__/KleeOne-Regular.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* 语言字体类 */
.font-zh_CN, .font-ko {
  font-family: 'LXGWWenKaiGB-Regular', sans-serif !important;
}

.font-zh_TW {
  font-family: 'LXGWWenKaiTC-Regular', sans-serif !important;
}

.font-ja, .font-en, .font-ms {
  font-family: 'KleeOne-Regular', sans-serif !important;
}